/* #region debug */

.debug [class^="col"] {
    background-color: lightcoral;
    border: 1px solid grey;
}

.debug [class^="col"] [class^="col"] {
    background-color: lightgreen;
    border: 1px solid grey;
}

.debug .header-top,
.debug .jumbotron-break,
.debug .slighter,
.debug .jumbotron-adventure,
.debug .ps5,
.debug .ps4,
.debug .discounts,
.debug .social {
    background-color: lightblue;
    border: 1px solid grey;
}

/* #endregion debug */

/* #region common */

:root {
    /* .main-menu btn accedi */
    --paledark: #363636;
    /* .btn acquista ora */
    --altenative: #CD3D0F;
    /* border-bottom accessorio */
    --paleprimary: #147DD2;
    /* bottoni */
    --primary: #2D64E6;
    /* bg-new-game */
    --dark: #1F1F1F;
    /* bg-ps-plus */
    --light: #BEBCBB;
    /* btn ps-plus */
    --lighter: #D9DADC;
    /* bg-ps-now */
    --darkprimary: #161C3B;
    /* color text subtitle */
    --primarylight: #727272;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* #endregion common */

/* #region utility */

.logo {
    width: 50px;
}

.hero-banner {
    width: 200px;
}

.item-play {
    width: 80px;
}

.play-rounded {
    border-radius: 20px;
}

.play-paleprimary {
    color: var(--paleprimary);
}

.play-primarylight {
    color: var(--primarylight);
}

.play-btn-paledark {
    color: #fff;
    background-color: var(--paledark);
    border-color: var(--paledark);
    transition: all 150ms linear;
}

.play-btn-alternative {
    color: #fff;
    background-color: var(--altenative);
    border-color: var(--altenative);
    transition: all 150ms linear;
}

.play-btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    transition: all 150ms linear;
}

.play-mt-116 {
    margin-top: 116px;
}

.zindex-fixed {
    z-index: 1030;
}

.fa-trademark {
    line-height: 100%;
    font-size: 0.5rem;
    vertical-align: super;
}

/* #endregion utility */

/* #region hover */

.play-btn-paledark:hover {
    color: #fff;
    outline: 2px solid white;
    outline-offset: -4px;
}

.play-btn-primary:hover {
    color: #fff;
    outline: 2px solid white;
    outline-offset: -4px;
}

.play-btn-alternative:hover {
    color: #fff;
    outline: 2px solid black;
    outline-offset: -4px;
}

#site-header .item:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px 5px #6261616e;
}

.slighter-cover:hover {
    transform: translate(0, -20px);
    cursor: pointer;
}

.slighter-item:hover img {
    filter: none;    
}

.slighter-item:hover {
    border-bottom: 2px solid var(--paleprimary);    
    color: black;
}

/* #endregion hover */

/* #region site-header */

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    border: 0;
    content: "";
    background-image: url(../img/chevron-down-solid.svg);
    filter: brightness(0);
    line-height: 100%;
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

.show::after {
    border: 0;
    content: "";
    background-image: url(../img/chevron-down-solid-hover.svg);
    line-height: 100%;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    filter: none;
}

#site-header .item {
    margin: 0.5rem;
    padding: 0.5rem;
    aspect-ratio: 1;
    transition: all 150ms linear;
}

/* #endregion site-header */

/* #region site-main */

/* #region jumbotron-break */

.jumbotron-break {
    background-image: url(../img/jumbo-bg.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 116px);
}

/* #endregion jumbotron-break */

/* #region slighter-games */

.slighter-cover {
    transition: 250ms linear;
}

.slighter-cover.active {
    border: 2px solid var(--paleprimary);
}

.slighter-cover.active > img {
    border: 2px solid white;

} 

/* #endregion slighter-games */

/* #region slighter-items */

.slighter-item {
    border-bottom: 2px solid transparent;
    transition: 250ms linear;
}

.slighter-item img {
    filter: contrast(0.5) brightness(1.4);
    transition: 250ms linear;
}

.slighter-item.active img {
    filter: none;    
}

.slighter-item.active {
    border-bottom: 2px solid var(--paleprimary);    
    color: black;
}


/* #endregion slighter-items */

/* #region jumbotron-adventure */

.jumbotron-adventure {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* #endregion jumbotron-adventure */


/* #endregion site-main */