/* #region debug */

.debug [class^="col"] {
    background-color: lightcoral;
    border: 1px solid grey;
}

.debug .ps-brand,
.debug .jumbotron-break,
.debug .slighter,
.debug .jumbotron-adventure,
.debug .ps5,
.debug .ps4,
.debug .ps-plus {
    background-color: lightblue;
    border: 1px solid grey;
}

/* #endregion debug */

/* #region common */

:root {
    /* .main-menu btn accedi */
    --paledark: #363636;
    /* .btn acquista ora */
    --altenative: #CD3D0F;
    /* border-bottom accessorio */
    --paleprimary: #147DD2;
    /* bottoni */
    --prymary: #2D64E6;
    /* bg-new-game */
    --dark: #1F1F1F;
    /* bg-ps-plus */
    --light: #BEBCBB;
    /* btn ps-plus */
    --lighter: #D9DADC;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* #endregion common */
