/* #region debug */

.debug [class^="col"] {
    background-color: lightcoral;
    border: 1px solid grey;
}

.debug [class^="col"] [class^="col"] {
    background-color: lightgreen;
    border: 1px solid grey;
}

.debug .header-top,
.debug .jumbotron-break,
.debug .slighter,
.debug .jumbotron-adventure,
.debug .ps5,
.debug .ps4,
.debug .discounts,
.debug .social {
    background-color: lightblue;
    border: 1px solid grey;
}

/* #endregion debug */

/* #region common */

:root {
    /* .main-menu btn accedi */
    --paledark: #363636;
    /* .btn acquista ora */
    --altenative: #CD3D0F;
    /* border-bottom accessorio */
    --paleprimary: #147DD2;
    /* bottoni */
    --prymary: #2D64E6;
    /* bg-new-game */
    --dark: #1F1F1F;
    /* bg-ps-plus */
    --light: #BEBCBB;
    /* btn ps-plus */
    --lighter: #D9DADC;
    /* bg-ps-now */
    --darkprimary: #161C3B;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* #endregion common */

/* #region utility */

.logo {
    width: 50px;
}

.ps-btn-paledark {
    color: #fff;
    background-color: var(--paledark);
    border-color: var(--paledark);
}


/* #endregion utility */
